# Stable symlink for ORGSTA T001 (USB VID:PID 2d84:2786).
KERNEL=="lp[0-9]*", SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="2d84", ATTRS{idProduct}=="2786", SYMLINK+="thermal-printer"
